body {
    text-align: center;
  }
  div {
    color: white;
    font: 1.5em sans-serif;
    line-height: 250px;
    width: 250px;
    height: 250px;
    background: steelblue;
    margin: 100px 50px 0;
    display: inline-block;
    transition: transform 1s;
  }
  div:hover {
    transform: skewX(20deg);
  }
  .skew-y:hover {
    transform: skewY(20deg);
  }